/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/ca/basics.page
/ca/bug-filing.page
/ca/ca.mo
/ca/ca.stamp
/ca/commandline.page
/ca/develop.page
/ca/documentation.page
/ca/highlighting.page
/ca/hints.page
/ca/index.page
/ca/keyboard-shortcuts.page
/ca/legal.xml
/ca/license.page
/ca/notes.page
/ca/print-blank-puzzles.page
/ca/print-inprogress-game.page
/ca/rules.page
/ca/save-resume.page
/ca/statistics.page
/ca/strategy.page
/ca/toolbar.page
/ca/trackers.page
/ca/translate.page
/cs/basics.page
/cs/bug-filing.page
/cs/commandline.page
/cs/cs.mo
/cs/cs.stamp
/cs/develop.page
/cs/documentation.page
/cs/highlighting.page
/cs/hints.page
/cs/index.page
/cs/keyboard-shortcuts.page
/cs/legal.xml
/cs/license.page
/cs/notes.page
/cs/print-blank-puzzles.page
/cs/print-inprogress-game.page
/cs/rules.page
/cs/save-resume.page
/cs/statistics.page
/cs/strategy.page
/cs/toolbar.page
/cs/trackers.page
/cs/translate.page
/da/basics.page
/da/bug-filing.page
/da/commandline.page
/da/da.mo
/da/da.stamp
/da/develop.page
/da/documentation.page
/da/highlighting.page
/da/hints.page
/da/index.page
/da/keyboard-shortcuts.page
/da/legal.xml
/da/license.page
/da/notes.page
/da/print-blank-puzzles.page
/da/print-inprogress-game.page
/da/rules.page
/da/save-resume.page
/da/statistics.page
/da/strategy.page
/da/toolbar.page
/da/trackers.page
/da/translate.page
/de/basics.page
/de/bug-filing.page
/de/commandline.page
/de/de.mo
/de/de.stamp
/de/develop.page
/de/documentation.page
/de/highlighting.page
/de/hints.page
/de/index.page
/de/keyboard-shortcuts.page
/de/legal.xml
/de/license.page
/de/notes.page
/de/print-blank-puzzles.page
/de/print-inprogress-game.page
/de/rules.page
/de/save-resume.page
/de/statistics.page
/de/strategy.page
/de/toolbar.page
/de/trackers.page
/de/translate.page
/el/basics.page
/el/bug-filing.page
/el/commandline.page
/el/develop.page
/el/documentation.page
/el/el.mo
/el/el.stamp
/el/highlighting.page
/el/hints.page
/el/index.page
/el/keyboard-shortcuts.page
/el/legal.xml
/el/license.page
/el/notes.page
/el/print-blank-puzzles.page
/el/print-inprogress-game.page
/el/rules.page
/el/save-resume.page
/el/statistics.page
/el/strategy.page
/el/toolbar.page
/el/trackers.page
/el/translate.page
/en_GB/basics.page
/en_GB/bug-filing.page
/en_GB/commandline.page
/en_GB/develop.page
/en_GB/documentation.page
/en_GB/en_GB.mo
/en_GB/en_GB.stamp
/en_GB/highlighting.page
/en_GB/hints.page
/en_GB/index.page
/en_GB/keyboard-shortcuts.page
/en_GB/legal.xml
/en_GB/license.page
/en_GB/notes.page
/en_GB/print-blank-puzzles.page
/en_GB/print-inprogress-game.page
/en_GB/rules.page
/en_GB/save-resume.page
/en_GB/statistics.page
/en_GB/strategy.page
/en_GB/toolbar.page
/en_GB/trackers.page
/en_GB/translate.page
/es/basics.page
/es/bug-filing.page
/es/commandline.page
/es/develop.page
/es/documentation.page
/es/es.mo
/es/es.stamp
/es/highlighting.page
/es/hints.page
/es/index.page
/es/keyboard-shortcuts.page
/es/legal.xml
/es/license.page
/es/notes.page
/es/print-blank-puzzles.page
/es/print-inprogress-game.page
/es/rules.page
/es/save-resume.page
/es/statistics.page
/es/strategy.page
/es/toolbar.page
/es/trackers.page
/es/translate.page
/eu/basics.page
/eu/bug-filing.page
/eu/commandline.page
/eu/develop.page
/eu/documentation.page
/eu/eu.mo
/eu/eu.stamp
/eu/highlighting.page
/eu/hints.page
/eu/index.page
/eu/keyboard-shortcuts.page
/eu/legal.xml
/eu/license.page
/eu/notes.page
/eu/print-blank-puzzles.page
/eu/print-inprogress-game.page
/eu/rules.page
/eu/save-resume.page
/eu/statistics.page
/eu/strategy.page
/eu/toolbar.page
/eu/trackers.page
/eu/translate.page
/fr/basics.page
/fr/bug-filing.page
/fr/commandline.page
/fr/develop.page
/fr/documentation.page
/fr/fr.mo
/fr/fr.stamp
/fr/highlighting.page
/fr/hints.page
/fr/index.page
/fr/keyboard-shortcuts.page
/fr/legal.xml
/fr/license.page
/fr/notes.page
/fr/print-blank-puzzles.page
/fr/print-inprogress-game.page
/fr/rules.page
/fr/save-resume.page
/fr/statistics.page
/fr/strategy.page
/fr/toolbar.page
/fr/trackers.page
/fr/translate.page
/gl/basics.page
/gl/bug-filing.page
/gl/commandline.page
/gl/develop.page
/gl/documentation.page
/gl/gl.mo
/gl/gl.stamp
/gl/highlighting.page
/gl/hints.page
/gl/index.page
/gl/keyboard-shortcuts.page
/gl/legal.xml
/gl/license.page
/gl/notes.page
/gl/print-blank-puzzles.page
/gl/print-inprogress-game.page
/gl/rules.page
/gl/save-resume.page
/gl/statistics.page
/gl/strategy.page
/gl/toolbar.page
/gl/trackers.page
/gl/translate.page
/hu/basics.page
/hu/bug-filing.page
/hu/commandline.page
/hu/develop.page
/hu/documentation.page
/hu/highlighting.page
/hu/hints.page
/hu/hu.mo
/hu/hu.stamp
/hu/index.page
/hu/keyboard-shortcuts.page
/hu/legal.xml
/hu/license.page
/hu/notes.page
/hu/print-blank-puzzles.page
/hu/print-inprogress-game.page
/hu/rules.page
/hu/save-resume.page
/hu/statistics.page
/hu/strategy.page
/hu/toolbar.page
/hu/trackers.page
/hu/translate.page
/it/basics.page
/it/bug-filing.page
/it/commandline.page
/it/develop.page
/it/documentation.page
/it/highlighting.page
/it/hints.page
/it/index.page
/it/it.mo
/it/it.stamp
/it/keyboard-shortcuts.page
/it/legal.xml
/it/license.page
/it/notes.page
/it/print-blank-puzzles.page
/it/print-inprogress-game.page
/it/rules.page
/it/save-resume.page
/it/statistics.page
/it/strategy.page
/it/toolbar.page
/it/trackers.page
/it/translate.page
/oc/basics.page
/oc/bug-filing.page
/oc/commandline.page
/oc/develop.page
/oc/documentation.page
/oc/highlighting.page
/oc/hints.page
/oc/index.page
/oc/keyboard-shortcuts.page
/oc/legal.xml
/oc/license.page
/oc/notes.page
/oc/oc.mo
/oc/oc.stamp
/oc/print-blank-puzzles.page
/oc/print-inprogress-game.page
/oc/rules.page
/oc/save-resume.page
/oc/statistics.page
/oc/strategy.page
/oc/toolbar.page
/oc/trackers.page
/oc/translate.page
/pt_BR/basics.page
/pt_BR/bug-filing.page
/pt_BR/commandline.page
/pt_BR/develop.page
/pt_BR/documentation.page
/pt_BR/highlighting.page
/pt_BR/hints.page
/pt_BR/index.page
/pt_BR/keyboard-shortcuts.page
/pt_BR/legal.xml
/pt_BR/license.page
/pt_BR/notes.page
/pt_BR/print-blank-puzzles.page
/pt_BR/print-inprogress-game.page
/pt_BR/pt_BR.mo
/pt_BR/pt_BR.stamp
/pt_BR/rules.page
/pt_BR/save-resume.page
/pt_BR/statistics.page
/pt_BR/strategy.page
/pt_BR/toolbar.page
/pt_BR/trackers.page
/pt_BR/translate.page
/ru/basics.page
/ru/bug-filing.page
/ru/commandline.page
/ru/develop.page
/ru/documentation.page
/ru/highlighting.page
/ru/hints.page
/ru/index.page
/ru/keyboard-shortcuts.page
/ru/legal.xml
/ru/license.page
/ru/notes.page
/ru/print-blank-puzzles.page
/ru/print-inprogress-game.page
/ru/ru.mo
/ru/ru.stamp
/ru/rules.page
/ru/save-resume.page
/ru/statistics.page
/ru/strategy.page
/ru/toolbar.page
/ru/trackers.page
/ru/translate.page
/sl/basics.page
/sl/bug-filing.page
/sl/commandline.page
/sl/develop.page
/sl/documentation.page
/sl/highlighting.page
/sl/hints.page
/sl/index.page
/sl/keyboard-shortcuts.page
/sl/legal.xml
/sl/license.page
/sl/notes.page
/sl/print-blank-puzzles.page
/sl/print-inprogress-game.page
/sl/rules.page
/sl/save-resume.page
/sl/sl.mo
/sl/sl.stamp
/sl/statistics.page
/sl/strategy.page
/sl/toolbar.page
/sl/trackers.page
/sl/translate.page
/so_locations
/sr/basics.page
/sr/bug-filing.page
/sr/commandline.page
/sr/develop.page
/sr/documentation.page
/sr/highlighting.page
/sr/hints.page
/sr/index.page
/sr/keyboard-shortcuts.page
/sr/legal.xml
/sr/license.page
/sr/notes.page
/sr/print-blank-puzzles.page
/sr/print-inprogress-game.page
/sr/rules.page
/sr/save-resume.page
/sr/sr.mo
/sr/sr.stamp
/sr/statistics.page
/sr/strategy.page
/sr/toolbar.page
/sr/trackers.page
/sr/translate.page
/sr@latin/basics.page
/sr@latin/bug-filing.page
/sr@latin/commandline.page
/sr@latin/develop.page
/sr@latin/documentation.page
/sr@latin/highlighting.page
/sr@latin/hints.page
/sr@latin/index.page
/sr@latin/keyboard-shortcuts.page
/sr@latin/legal.xml
/sr@latin/license.page
/sr@latin/notes.page
/sr@latin/print-blank-puzzles.page
/sr@latin/print-inprogress-game.page
/sr@latin/rules.page
/sr@latin/save-resume.page
/sr@latin/sr@latin.mo
/sr@latin/sr@latin.stamp
/sr@latin/statistics.page
/sr@latin/strategy.page
/sr@latin/toolbar.page
/sr@latin/trackers.page
/sr@latin/translate.page
/sv/basics.page
/sv/bug-filing.page
/sv/commandline.page
/sv/develop.page
/sv/documentation.page
/sv/highlighting.page
/sv/hints.page
/sv/index.page
/sv/keyboard-shortcuts.page
/sv/legal.xml
/sv/license.page
/sv/notes.page
/sv/print-blank-puzzles.page
/sv/print-inprogress-game.page
/sv/rules.page
/sv/save-resume.page
/sv/statistics.page
/sv/strategy.page
/sv/sv.mo
/sv/sv.stamp
/sv/toolbar.page
/sv/trackers.page
/sv/translate.page
/tags
/zh_CN/basics.page
/zh_CN/bug-filing.page
/zh_CN/commandline.page
/zh_CN/develop.page
/zh_CN/documentation.page
/zh_CN/highlighting.page
/zh_CN/hints.page
/zh_CN/index.page
/zh_CN/keyboard-shortcuts.page
/zh_CN/legal.xml
/zh_CN/license.page
/zh_CN/notes.page
/zh_CN/print-blank-puzzles.page
/zh_CN/print-inprogress-game.page
/zh_CN/rules.page
/zh_CN/save-resume.page
/zh_CN/statistics.page
/zh_CN/strategy.page
/zh_CN/toolbar.page
/zh_CN/trackers.page
/zh_CN/translate.page
/zh_CN/zh_CN.mo
/zh_CN/zh_CN.stamp
