/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/gnome-sudoku.desktop
/gnome-sudoku.desktop.in
/org.gnome.gnome-sudoku.gschema.valid
/org.gnome.gnome-sudoku.gschema.xml
/so_locations
/tags
